.app {
  display: flex;
  flex-direction: column;
}

.app__header {
  padding: 30px;
}

.app__header_h3 {
  margin: 0;
}

.app__headerTime {
  font-size: small;
}

.app__todoContainer {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: center;
  width: 50%;
}

.todo {
  display: flex;
  /* background-color: purple; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  margin-bottom: 10px;
}

.todo:hover {
  transform: scale(1.07);
}
