.app {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  
  
}

.app__header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 0 50px 0;
  
  padding-bottom: 50px;
}

.app__todoInput {
margin-bottom: 50px;
}



.todo {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  
  margin-bottom: 10px;
  padding: 10px;
  
}

.todo:hover {
  transform: scale(1.07);
}


